
*{
	 margin: 0;
	padding: 0;
}

body{
	font-family: Arial, sans-serif;
	background-color: #blue;
}

header{
	background-color: #yellow;
	color: white;
	text-align: center;
}

class.img{
	max-width: 100%;
	height: auto;
	border: 2px solid;
	border-radius: 8px;
}

main{
	padding: 2px;
	background-color: green;
}

footer{
  background-color: purple;
  text-align: center;
  padding: 1px;
  position: relative;
  width: 100%;
}

